@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;

}

header {
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 16em;
}

nav a {
   color: white;
   text-decoration: none;
}

a {
   padding-left: 16px;
}

.mainPage {
   background-color: #21D4FD;
   background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 80vh;
   background-blend-mode: lighten;
}

.card-row {
   display: flex;
   gap: 25px;
   height: 80vh;
}

.mycard {
   width: 30rem;
   background-color: lightgray;
   border-radius: 15px;
   padding-bottom: 20px;
   height: 25rem;
}

.mycard h3 {
   padding: 0 15px;
}

.mycard p {
   padding: 0 15px;
}

.mycard a {
   padding-left: 15px;

}

.mycard img {
   width: 100%;
   border-radius: 15px 15px 0px 0px;
   height: 60%;
}

.recent {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 6rem 0;
}

#project-main {
   background-color: #21D4FD;
   background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
   padding-top: 50px;
}

#project-title {
   display: flex;
   justify-content: center;
   margin: 0px;
   margin-bottom: 20px;
}

#project-holder {
   padding: 20px;
   gap: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.project-card {
   color: black;
   background-color: #0093E9;
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   width: 400px;
   border-radius: 10px;
   padding: 15px;
   box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.5);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: space-between;
}

.project-card img {
   width: 300px;
   height: 150px;
   margin: 1%;
   border-radius: 10px;
}

.projectPageLink {
   text-decoration-style: none;
}

.col3-1 {
   padding-left: 520px;
   padding-top: 30px;
}

.col3-2 {
   padding-left: 520px;
   padding-top: 30px;
}

.col3-3 {
   padding-left: 520px;
   padding-top: 30px;
   padding-bottom: 30px;
}

.Content {
   display: flex;
   flex-direction: column;
   padding-top: 20vh;
   padding-bottom: 20vh;
   align-items: center;
   text-align: center;
   height: 120vh;
   padding-left: 100px;
   padding-right: 100px;
   background-color: #21D4FD;
   background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
   gap: 30px;
}

.Content img {
   width: 600px;
   height: 300px;
   padding: 5px;
   border-radius: 10px;
}

.main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   padding-left: 100px;
   padding-right: 100px;
   background-color: #21D4FD;
   background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.card-body {
   background-color: #0093E9;
   background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.cardImgTop{
   width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}